*, *::after, *::before {
	box-sizing: border-box;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.logotype{
	font-weight: 900;
	padding: 1rem;
	margin: 0;
	opacity: 1;
	transition: opacity 0.25s;
}

.logotype:active, .logotype:hover, .logotype:focus {
	opacity: 0.8;
	transition: opacity 0.5s;
}

.logotype a {
	color: #555;
}

.nav {
	text-transform: lowercase;
	font-weight: 600;
}

.nav a {
	color: #555;
	margin: 1rem;
	border-color: white;
}

.nav a:active, .nav a:hover, .nav a:focus {
	color: rgb(4, 33, 232);
}

body{
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	padding: 0.5rem;
}

.heading{
	font-size: 2.5rem;
	color: rgb(4, 33, 232);
}

.subheading{
	font-weight: 600;
	font-size: 1.5rem;
	text-align: left;
}

.title{
	font-size: 1.1rem;
}

.subtitle{
	font-size: 0.9rem;
}

p{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5;
}

.section {
	display: flex;
	flex-flow: wrap;
	align-self: center;
	/*justify-content: space-between;*/
	justify-content: center;
	margin-top: 2rem;
}

.box{
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50rem;
}

@media (max-width: 850px){
	.box{
		margin: 0rem 1.5rem;
	}
}

/*.project-header-image{
	justify-content: center;
}

.project-header-image img{
	width: 500px;
	height: 600px;
}*/

/*.project-header-image img{
	max-width: 60%;
	max-height: 60%;
}
*/

.head-banner{
	height: 510px;
	width: 100%;
	background-color: #000;
}

.nmg{
	background-color: #e57aab;
	color: #fff;
}

.milo{
	background-color: #c41e20;
	color: #fff;
}

.head-content{
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	justify-content: center;
	text-align: center;
/*	padding: 3rem;*/
}

.head-title{
	margin-top: 5rem;
	flex: 1;
	/*line-height: 2.5px;*/
}

.head-title h1{
	font-size: 4rem;
}

.head-title h2{
	font-size: 1.5rem;
	font-weight: 500;
}

.project-description{
	margin-top: 4rem;
	flex: 1;
	line-height: 0.5;
}

.project-description h3{
	font-size: 1.2rem;
	font-weight: 800;
}

@media (max-width: 700px){
	.head-banner{
		height: 800px;
	}
	.head-content{
		flex-direction: column;
	}
	.head-title{
		margin-top: 1.8rem;
	}
	.head-title h1{
		font-size: 3.7rem;
	}
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*.footer-item{
	display: flex;
	flex-direction: row;
}*/