*, *::after, *::before {
	box-sizing: border-box;
}

/*header, navigition*/
.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.logotype{
	font-weight: 1200;
	padding: 1rem;
	margin: 0;
	opacity: 1;
	transition: opacity 0.25s;
}

.logotype a {
	color: black;
}

.logotype:active, .logotype:hover, .logotype:focus {
	opacity: 0.5;
	transition: opacity 0.5s;
}

.nav {
	text-transform: lowercase;
	font-weight: 800;
}

.nav a {
	color: black;
	margin: 1rem;
	border-color: white;
}

.nav a:active, .nav a:hover, .nav a:focus {
	/*color: rgb(4, 33, 232);*/
	opacity: 0.5;
	transition: opacity 0.5s;
}

/*body*/
body{
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	color: #555;
	text-decoration: none;
}

/*title for nmg page*/
.nmgtitle a:active, .nmgtitle a:hover, .nmgtitle a:focus{
	color: #252932;
	transition: 0.5s;
}

/*title for milo page*/
/*.milotitle a:active, .milotitle a:hover, .milotitle a:focus{
	color: red;
	transition: 0.5s;
}*/

.header {
	padding: 0.5rem;
}

.heading{
	font-size: 2.5rem;
	/*color: rgb(4, 33, 232);*/
}

.subheading{
	font-weight: 600;
	font-size: 1.6rem;
	text-align: left;
}

.title{
	font-size: 1.2rem;
}

.nmgtitle{
	color: #252932;
}

.milotitle{
	color: red;
}

.subtitle{
	font-size: 0.8rem;
}

.index-button .material-icons {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 2rem;
	border-radius: 100%;
	background-color: white;
	padding: 0.5rem;
	transition: background-color 0.25s, color 0.25s;
	z-index: 1;
}

.index-button .material-icons:hover, .index-button .material-icons:focus {
	background-color: grey;
	color: white;
	transition: background-color 0.25s, color 0.25s;
}

.index-button .material-icons:active {
	background: #555;
}

hr{
	align-self: center;
	border: solid grey 1.5px;
	width: 15rem;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.8;
	font-weight: 500;
}

.section {
	display: flex;
	flex-flow: wrap;
	align-self: center;
	justify-content: center;
	margin-top: 2rem;
}

.box{
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50rem;
}

@media (max-width: 850px){
	.box{
		margin: 0rem 1.5rem;
	}
}

.body-content{
	margin: 4rem 0rem;
}

.head-banner{
	height: 510px;
	width: 100%;
	background-color: #000;
}

.nmg{
	background-color: #252932;
	color: #fff;
}

.milo{
	background-color: #c41e20;
	color: #fff;
}

.head-content{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
/*	padding: 3rem;*/
}

.head-title{
	margin-top: 5rem;
	flex: 1;
	/*line-height: 2.5px;*/
}

.head-title h1{
	font-size: 4rem;
}

.head-title h2{
	font-size: 1.5rem;
	font-weight: 500;
}

.project-description{
	margin-top: 4rem;
	flex: 1;
	line-height: 0.5;
}

.project-description h3{
	font-size: 1.2rem;
	font-weight: 800;
}

@media (max-width: 700px){
	.head-banner{
		height: 800px;
	}
	.head-content{
		flex-direction: column;
	}
	.head-title{
		margin-top: 1.8rem;
	}
	.head-title h1{
		font-size: 3.7rem;
	}
}

.image-container{
	display: inline-block;
	overflow: hidden;
	margin: 1rem;
	position: relative;
}

.projectimage{
	width: 100%;
}

.more-project{
	text-align: center;
}

.more-project h5{
	font-size: 1.6rem;
	margin: 1rem auto;
}

.project-link{
	font-size: 1.3rem;
	color: #555;
}

.more-project a:active, .more-project a:hover, .more-project a:focus{
	opacity: 0.5;
	transition: 0.5s;
}

#current-project{
	color: black;
}

/*figure*/
.figure-caption{
	text-align: center;
}

.color-box{
	width: 100px;
	height: 100px;
	display: inline-block;
}

.box1{
	background-color: #252932;
}

.box2{
	background-color: #c41e20;
}

/*footer*/
.footer{
	width: 70%;
	margin: 1.5rem auto;
	padding: 0.8rem;
}

.footer-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer-item a{
	color: black;
}

.footer-item a:active, .footer-item a:hover, .footer-item a:focus{
	opacity: 0.5;
	transition: 0.5s;
}

@media (max-width: 750px){
	.footer-container{
		flex-direction: column;
	}
	.copyright{
		margin-bottom: 1rem;
	}
	.footer-item{
		margin-top: 1rem;
	}
}